<h1 class="title has-text-centered"><%= @inventory.name %></h1>
<div class="is-flex is-justify-content-end mb-4">
  <%= link_to 'Add Food', new_recipe_path, class: "button is-small is-success" %>
</div>

