<div class="is-flex is-justify-content-end mb-4">
  <%= link_to 'New Inventory', new_inventory_path, class: "button is-small is-success" %>
</div>
<div class="columns is-flex-direction-column is-align-items-center">
  <%= render @inventories %>
</div>