<div class="is-flex is-justify-content-end">
  <div class="buttons">
    <%= link_to 'New Recipe', new_recipe_path, class: "button is-small is-success" %>
  </div>
</div>
<%= render @recipes, layout: 'recipes' %>
