<div class="columns is-justify-content-center">
	<div class="column is-half has-text-centered">
		<h1 class="title">Shopping List</h1>
		<div class="columns has-text-weight-semibold">
			<div class="column">
				<p>Amount of food items to buy: 3</p>
			</div>
			<div class="column">
				<p>Total value of food needed: $819</p>
			</div>
		</div>
	</div>
</div>