<h1>Food Recipes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @food_recipes.each do |food_recipe| %>
      <tr>
        <td><%= link_to 'Edit', edit_food_recipe_path(food_recipe) %></td>
        <td><%= link_to 'Destroy', food_recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Food Recipe', new_food_recipe_path %>
