<div class="columns is-justify-content-center">
  <div class="column is-two-fifths-desktop">
		<h1 class="title">New Food</h1>

		<%= render 'form', food: @food %>

		<%= link_to 'Back', foods_path, class: "button is-light mt-2" %>
	</div>
</div>